* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: #003366;
    color: white;
    padding: 40px 20px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    overflow-y: auto;
    z-index: 100;
}
.profilfoto {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 2px solid #104172;
    margin-bottom: 20px;
    object-fit: cover;
}

.sidebar h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.bolum {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 40px;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-bottom: 1px solid #004080;
    transition: background 0.3s, padding-left 0.3s;
}

.menu a:hover {
    background-color: #004080;
    padding-left: 30px;
}

.icerik {
    margin-left: 300px;
    width: calc(100% - 300px);
    padding: 50px;
}

.kutu {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kutu h2 {
    color: #003366;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.kutu:hover {
    box-shadow: 0 4px 10px #003366;
    transform: scale(1.065);
    z-index: 10;
}

.liste {
    list-style-position: inside;
    list-style-type: square;
}

.bilgi-satir {
    margin-bottom: 10px;
    font-size: 1.1rem;
    border-bottom: 1px dashed #eee;
    padding-bottom: 5px;
}

.proje {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #003366;
    border-radius: 4px;
}

.proje h3 {
    margin-bottom: 10px;
    color: #003366;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding: 30px 15px;
    }

    .icerik {
        margin-left: 0;
        width: 100%;
        padding: 20px;
    }
    .profilfoto {
        width: 120px;
        height: 120px;
    }
    .kutu:hover {
        transform: none;
    }
}
